.score{
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: space-between;
    align-items: center;
}

span{
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #f9fa00;
    font-weight: 100;
}

.font-link{
    font-family: 'Rubik Bubbles', cursive;
}

